<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="RecordsTS-CitizenUser" id="d82eed8a-b3c2-44b3-b019-eb4744068376" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [Records]</con:description><con:settings><con:setting id="6b785e78-bceb-4189-ab25-39ea57c6958cfileName">Records-TS</con:setting><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting><con:setting id="GeneratableJUnitReport@Folder">/Users/mvishwanath/Downloads</con:setting><con:setting id="d82eed8a-b3c2-44b3-b019-eb4744068376fileName">RecordsTS-CitizenUser</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>