<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b4a5e5ca-3461-4fc7-8759-012a993f8007" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://10.5.2.103:3080" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b4a5e5ca-3461-4fc7-8759-012a993f8007fileName">http%3A%2F%2F10.5.2.103%3A3080</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>${#Project#AAEndPointUrlAUTH}</con:endpoint></con:endpoints></con:interface>